.header{
    margin-bottom: 2rem;
    ul{
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-left: 0;
        
        li {
            margin-bottom: 0;
            a{
                padding: 1rem 2rem;
                font-size: 1.2rem;
            }
        }
    }
}